*{
    font-family: sans-serif;
}

header{
    font-weight: bold;
    font-size: 110%;
}

#navbar{
    position: fixed;
    top: 0px;
    left: -42px;
    min-width: 290px;
    width: 300px;
    height: 100%;
    z-index: 1;
    border: none;
    
   }
  
  
  #navbar li{
    position: relative;
    list-style: none;
    width: 100%;
    padding-top: 20px;
    border: 2px solid black;
    border-bottom: transparent;
    padding-bottom: 20px;
    
  }

  #navbar li:last-of-type{
    border-bottom:  2px solid black;
  }

  #navbar header{
    padding: 10px;
  }
  
  #navbar a{
    display: block;
    text-decoration: none;
    color: black;
    cursor: pointer;
    text-align: center;
    font-size: 15px;

  }

  body{
    min-width: 290px;
    background-color: lightgray;
  }
  
  #main-doc{
    position: absolute;
    margin-left: 310px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .map-number{
   margin: 10px 0 0 10px;
  }


  .main-section{
    padding-top: 10px;
  }

  .main-section li{
    padding: 10px;
    
  }

th, td{
  width: 150px;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

.hazo-crown{
  width: 35px;
  height: 25px;
}

.minigame-per-game, li{
  margin: -15px;
}

.minigame-per-game, li :last-of-type{
  margin-bottom: 10px;
}



